.Header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Navigation {
    background-color: #fbf9f9;
    top: 0;
    left: 0;
    display: flex;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.HomeLogo {
    margin: 10px;
}

.HomeLogo a {
    color: black;
}

.SearchContainer {
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
}

.SearchInput {
    width: 80%;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    color: #9DBFAF;
}

.SearchInput:focus{
    color: #00B4CC;
}

.SearchButton {
    text-align: center;
    cursor: pointer;
}

/* PROFILE NAVIGATION */
.ProfileNavigationContainer {
    margin: 0;
    padding: 0;
    z-index: 200;
}

.NavigationUl {
    padding: 0 10px;
    list-style: none;
    display: flex;
}

.NavigationUl:first-child {
    padding: 10px;
}

.NavigationUl li:hover {
    color: rgb(104, 0, 98);
}

.NavigationUl li a {
    color: rgb(32, 18, 18);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
}

.NavigationUl li a:hover,
.NavigationUl li a:active,
.NavigationUl li a.active {
    background-color: rgb(228, 220, 220);
}

/* AUTH BUTTONS */
.AuthContainer {
    padding: 0 10px 0 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.AuthContainer button {
    margin: 0 5px 0 5px;
}

.AuthContainer a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.AuthContainer a:active,
.AuthContainer a.active {
    color: rgb(61, 61, 61);
}

/* NOTIFICATION BUTTON */
.NotificationIcon {
    cursor: pointer;
}

.ImageProfile {
    cursor: pointer;
}

.ImageProfile img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border: 2px solid #d8b3b3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    background: linear-gradient(to right, rgb(114, 114, 126), rgb(95, 109, 126), rgb(165, 159, 206), rgb(123, 113, 187));
}

.DropdownProfile {
    display: none;
    position: absolute;
    right: 1%;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 10px;
    z-index: 1;
}

.ShowDropdown {
    display: flex;
    flex-direction: column;
}

.DropdownProfile a {
    display: flex;
    align-items: center;
}

.Hr {
    width: 100%;
    border: 0;
    border-top: 1px solid rgb(230, 217, 217);
    margin: 0;
}

.ConfigIcon {
    margin-right: 10px;
    align-items: center;
}