.NavigationItems {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.NavigationItems ul {
    display: flex;
    font-size: 13px;
    background-color: #7a7d82;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid;
    position: fixed;
    width: 100%;
}

.SearchContainer {
    float: none;
    margin-left: 10px;
    margin-right: 10px;
}

.SearchContainer button {
    padding: 6px 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
}