.NavigationItem { /* li */
    margin: 0 1rem;
}

.NavigationItem:last-child { /* li */
    margin-right: auto;
}

.NavigationItem a {
    display: block;
    color: rgb(32, 18, 18);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: rgb(92, 0, 197);
}