.Button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #f11f1f;
}

.Danger:hover {
    background-color: rgb(170, 149, 149);
}