.CreateArtworkForm {
    text-align: center;
    margin: auto;
    width: 50%;
}

/* PROFILE INFO */

.ProfileContainer {
    margin: 0;
    padding: 0;
}

.ProfileHeaderContainer {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    align-items: flex-start;
    text-align: center;

    padding-top: 50px; /* Dudoso, mirar si poner los margenes en otros niveles */
}

.ProfileCenter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileImageContainer img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    border: 2px solid #d8b3b3;
}

.EmptyImageBackground img {
    background: linear-gradient(to right, rgb(114, 114, 126), rgb(95, 109, 126), rgb(165, 159, 206), rgb(123, 113, 187));
}

.ProfileAddress {
    margin-top: -10px;
    margin-bottom: 10px;
    color: rgb(71, 71, 71);
    font-weight: 200;
}

.ProfileDescription {
    font-size: 1.5rem;
    font-weight: 400;
}

.InfoWrapper {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    font-size: 130%;
    font-weight: 500;
    border: 1px solid #dabcbc;
    border-radius: 10px;
    padding: 10px;
}

.LeftColumn {
    margin: 45px -20% auto auto;
}

.RigthColumn {
    grid-template-columns: 5fr 1fr;
    margin: 38px auto auto -20%;
}

/* BUTTONS */

.ButtonsContainer {
    margin: 15px 0;
    display: flex;
    gap: 10px;
}

.Button {
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 10%;
    padding: 2px 20px;
    margin: 0 5px;
}

.FollowButton {
    background-color: rgb(233, 213, 247);
}

.FollowButton:hover {
    background-color: rgb(103, 82, 121);
    color: white;
}

/* CREATING MESSAGE */
.CreatingArtworkMessage {
    width: 20%;
    padding: 4px;
    margin: auto;
    text-align: center;
    color: rgb(175, 175, 190);
    border: 1px solid rgb(204, 214, 204);
    border-radius: 10px;
}

/* KANBAN */
.KanbanContainer {
    width: 60%;
    margin: auto;
    margin-top: 5%;
}

.KanbanModeContainer {
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.KanbanMode {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(225, 215, 231);
}

.KanbanMode li {
    color:rgb(216, 203, 223);
    padding: 20px;
    cursor: pointer;
}

.ActiveMode {
    border-top: 1px solid rgb(66, 42, 80);
    color: rgb(20, 20, 20) !important;
}

.EmptyKanban {
    margin-top: 20%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(100, 17, 35);
}