.GoBack {
    position: fixed;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #dbdbdb;
}

.GoBack:hover {
    background-color: #dbdbdb;
}

.GoBackIcon {
    padding: 5px;
}

.ArtworkContainer {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.Header {
    text-align: center;
}

.UserAddress {
    cursor: pointer;
    color:rgb(122, 116, 116);
}

.UserAddress:hover {
    color: rgb(107, 92, 92)
}

.ImageInfoContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(66, 37, 93);
    border-radius: 20px;
}

.ImageContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 5;
    border-radius: 20px 0px 0px 20px;
}

.InfoContainer {
    flex: 2;
}

.InfoContainer ul {
    margin: 20px;
}

.InfoContainer ul li {
    padding: 10px;
}

.Image {
    width: 100%;
    padding: 0;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    overflow: auto;
}

.SupportBuyContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.LikeButtonContainer {
    /* margin: auto; */
    /* width: 60%; */
    /* margin-top: 20px; */
    /* text-align: center; */
    border: 3px solid rgb(138, 88, 88);
    border-radius: 10px;
    cursor: pointer;
}

.LikeButtonContainer:hover {
    background-color: rgb(119, 116, 116);
}

.BuyContainer {
    border: 2px solid rgb(75, 128, 81);
    border-radius: 10px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    margin: auto;
}

.BuyContainer:hover {
    background-color: rgb(154, 192, 158);
}

.BuyButton {
    padding: 5px;
}

.Supporters {
    /* margin: auto; */
    margin-top: 10px;
    text-align: center;
    color:rgb(119, 116, 116)
}

.Supporters ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    color: rgb(66, 37, 93)
}

.Processing {
    width: 30%;
    margin: auto;
    padding: 4px;
    text-align: center;
}

.ErrorContainer {
    width: 30%;
    margin: auto;
    padding: 4px;
    color: rgb(124, 13, 13);
    text-align: center;
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 50px;
}

.ErrorIcon {
}

.ErrorMessage{
}