.GoBack {
    position: fixed;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #dbdbdb;
}

.GoBack:hover {
    background-color: #dbdbdb;
}

.GoBackIcon {
    padding: 5px;
}

/* GAS FEE MODAL */
.GasFeeModalOptions {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.GasFeeOption {
    cursor: pointer;
    padding: 30px;
    text-align: center;
    border: 1px solid rgb(223, 202, 202);
    border-radius: 10px;
}

.GasFeeOption:hover {
    background-color: rgb(194, 166, 166);
}

.GasFeeOptionActive {
    background-color: rgb(161, 95, 78);
}

.GasFeeOptionActive:hover {
    background-color: rgb(161, 95, 78);
}

.OptionDetails {
    text-align: center;
}

.CenterButtons {
    text-align: center;
}

/* ARTWORK INFO */
.Container {
    width: 80%;
    margin: auto;
    padding: 30px;
}

.Header {
    text-align: center;
}

.ProfileImageContainer img {
    cursor: pointer;
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #d8b3b3;
}

.EmptyImageBackground img {
    cursor: pointer;
    background: linear-gradient(to right, rgb(114, 114, 126), rgb(95, 109, 126), rgb(165, 159, 206), rgb(123, 113, 187));
}

.UserName {
    cursor: pointer;
    margin: 0;
}

.UserAddress {
    cursor: pointer;
    color:rgb(122, 116, 116);
    margin-bottom: 30px;
}

.UserAddress:hover {
    color: rgb(107, 92, 92)
}

.ImageInfoContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(66, 37, 93);
    border-radius: 20px;
}

.ImageContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 5;
    border-radius: 20px 0px 0px 20px;
}

.Image {
    width: 100%;
    padding: 0;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    overflow: auto;
}

.InfoContainer {
    flex: 2;
}

.InfoContainer ul {
    margin: 5px;
}

.InfoContainer ul li {
    padding: 10px;
}

.ListSupporters {
    list-style-type: none;
    margin: 0 10px;
    color: rgb(66, 37, 93);
    overflow-y: scroll;
    white-space: nowrap;
}

.ButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.ButtonContainer {
    color:rgb(119, 116, 116);
    cursor: pointer;
    width: 15%;
    text-align: center;
}

.Button {
    border: 2px solid rgb(75, 128, 81);
    border-radius: 10px;
    padding: 10px;
}

.Button:hover {
    background-color: rgb(241, 248, 242);
}

.Processing {
    width: 30%;
    margin: auto;
    padding: 4px;
    text-align: center;
    border: 1px dashed rgb(182, 206, 192);
    border-radius: 50px;
}

.ErrorContainer {
    width: 30%;
    margin: auto;
    padding: 4px;
    color: rgb(124, 13, 13);
    text-align: center;
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 50px;
}